body{
	padding: 0;
	margin: 0;
	font-family: cambria;   /*https://www.w3schools.com/w3css/tryw3css_templates_band.htm*/

}

#navbar{
	list-style: none;
	font-size: 20px;
	height: 50px;
	width: 100%;
}
.menu{
	position: fixed;
	background-color: black;
	padding: 10px;
	width: 100%;

}

#navbar ul, #navbar a{
	text-decoration: none;
	color: white;
	list-style: none;
	padding: 0;
	line-height: 15px;
	margin: 0;
}

#navbar li{
	display: inline;
	padding: 10px;
	margin: 40px;
	vertical-align: middle;
}

#navbar li:hover{
	color: black;
	background-color: white;
	border-radius: 30px;
}

.slider{
width: 100%;
height:600px;
background: url(chicago.jpg);    background-repeat: no-repeat !important;
background-image: 100%;
background-size: cover
margin: 1px;
float: left;
margin-top: 23px;
animation: slide 20s infinite;
}

@keyframes slide{
25%{background: url(chicago.jpg);    background-repeat: no-repeat !important;
    background-size: cover;  }
50%{background: url(la.jpg);    background-repeat: no-repeat !important;
    background-size: cover;}
75%{background: url(ny.jpg);    background-repeat: no-repeat !important;
    background-size: cover;}
100%{background: url(chicago.jpg);    background-repeat: no-repeat !important;
    background-size: cover;}
}
/*--------------------------------------------*/
#main {

	margin-top: 50px;
	display: inline-block;
 }

.band h4, h2{
			color: grey;
				text-align: center;
 }

 .band p{
 	width: 60%;
 	padding-left: 20%;
 		line-height: 2em;


 }

 .imgblock{
 	padding-left: 15%;
 	padding-top: 70px;
 	padding-bottom: 40px;

 }
 .imgblock li{
	display: inline-block;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	

 }

 .contact{
 	text-align: center;
 }

.formg{
	font-size: 20%;
}
.button{
height: 40px;
width: 60px;
color: white;
background-color: black;
}
.button:hover{
	color: black;
	background-color: white;
}
.map{
	width: 100%;
	height: 100%;
}


.footer{
	text-align: center;
	padding: 30px;
}
